html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: black;
  z-index: 1;
  position: fixed; /* Set the navbar to fixed position */
  /* top: 0; /* Position the navbar at the top of the page*/
  width: 100%; /*Full width */
  /*overflow: hidden;
  background-color: #a061c3; */
}

a:hover {
  cursor: pointer;
  color: #a061c3;
}

.options,
.name {
  width: 50%;
  text-align: end;
}

.name {
  text-align: start;
  margin-left: 2%;
  font-weight: 600;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  margin: 0 1%;
}

canvas {
  opacity: 0.75;
}

.full_stack {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 20ch;

  animation: typing 4s steps(20), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* header {
  margin-top: 4.8%;
} */

svg {
  font-size: 50px;
}

svg:hover {
  cursor: pointer;
  fill-opacity: calc(75%);
}

i {
  font-size: 1.5em;
}

.header__introduction {
  height: 100%;
}

.typing {
  height: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.social-media {
  height: 10%;
  display: flex;
  justify-content: flex-start;
}

.social-media a {
  height: fit-content;
  margin: 0 15px;
}

.cv {
  height: 40%;
}

.homeButton {
  background-color: transparent;
  padding: 10px 50px;
  border: 1px solid white;
  border-radius: 4px;
}

.homeButton:hover {
  cursor: pointer;
  opacity: calc(75%);
  border: 1px solid white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  background-color: black;
  z-index: 1;
  position: fixed; /* Set the navbar to fixed position */
  /* top: 0; /* Position the navbar at the top of the page*/
  width: 100%; /*Full width */
  /* height: auto; */
  /*overflow: hidden;
  background-color: #a061c3; */
}

.menu {
  background-color: black;
  /* overflow-y: hidden; */
  width: 100%;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  height: fit-content;
  background-color: black;
  z-index: 1;
  /* position: fixed; Set the navbar to fixed position */
  /* top: 0; /* Position the navbar at the top of the page*/
  width: 100%; /*Full width */
  /* height: auto; */
  /*overflow: hidden;
  background-color: #a061c3; */
}

.section1 {
  background: radial-gradient(
    circle,
    rgba(76, 46, 124, 1) 10%,
    rgba(39, 4, 57, 1) 90%
  );
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
  padding-top: 15px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 h1,
.section1 p {
  overflow: hidden;
  color: white;
}

.section1 h1 {
  margin-top: 15px;
  margin-bottom: 30px;
}

.section1 p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 2rem;
}

.card {
  border: #a061c3 3px solid;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  max-width: 520px;
}

.button {
  width: 40%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.magic {
  border: 0;
  background-image: linear-gradient(150deg, #7a1fab, #4a2296, #297b8c);
  border-radius: 8px;
  color: #fff;
  display: flex;
  overflow: hidden;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.5rem;
}

.boton {
  overflow: hidden;
  background-color: black;
  padding: 24px 40px;
  border-radius: 6px;
  transition: 0.3s;
}

.magic:hover .boton {
  background: none;
}

.magic:active {
  transform: scale(0.9);
}

.author {
  text-align: right;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0;
}

nav a {
  background-image: linear-gradient(to right, #a061c3, #a061c3 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

nav a:before {
  content: "";
  background: #a061c3;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #a061c3;
}

nav a:hover {
  background-position: 0;
}

nav a:hover::before {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .button {
    width: 100%;
    margin-top: 2vh;
  }
  .boton {
    display: flex;
    justify-content: center;
    padding: 24px 20vw;
  }
}

@media screen and (max-width: 740px) {
  .boton {
    padding: 24px 19vw;
  }
}

@media screen and (max-width: 700px) {
  .boton {
    padding: 24px 28vw;
  }
  .card {
    width: 80%;
  }
}

@media screen and (max-width: 651px) {
  .boton {
    padding: 24px 27vw;
  }
}

@media screen and (max-width: 601px) {
  .boton {
    padding: 24px 26vw;
  }
}

@media screen and (max-width: 551px) {
  .boton {
    padding: 24px 24vw;
  }
}

@media screen and (max-width: 501px) {
  .boton {
    padding: 24px 30vw;
  }
  .card {
    width: 95%;
  }
}

@media screen and (max-width: 499px) {
  .boton {
    padding: 24px 28.5vw;
  }
}

@media screen and (max-width: 464px) {
  .boton {
    padding: 24px 27vw;
  }
}

@media screen and (max-width: 435px) {
  .name-home h1 {
    font-size: 1.2rem;
  }
  .typing h1 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 434px) {
  .boton {
    padding: 24px 29.5vw;
  }
  .section1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 413px) {
  .boton {
    padding: 24px 28.5vw;
  }
}

@media screen and (max-width: 394px) {
  .boton {
    padding: 24px 27.5vw;
  }
}

@media screen and (max-width: 377px) {
  .boton {
    padding: 24px 28vw;
  }
  .section1 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 340px) {
  .boton {
    padding: 24px 27vw;
  }
}

@media screen and (max-width: 325px) {
  .boton {
    padding: 24px 26vw;
  }
}

@media screen and (max-width: 312px) {
  .boton {
    padding: 24px 25vw;
  }
}

@media screen and (max-width: 299px) {
  .boton {
    padding: 24px 24vw;
  }
}

@media screen and (max-width: 288px) {
  .boton {
    padding: 24px 23vw;
  }
}

@media screen and (max-width: 282px) {
  .boton {
    padding: 24px 20vw;
  }
}
